nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424874;
    width: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
  }

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #DCD6F7;
}

nav li a:hover {
    color: #DCD6F7;
    background-color: #222643;
    transition: 0.5s;
}