* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #DCD6F7;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424874;
    width: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
  }

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #DCD6F7;
}

nav li a:hover {
    color: #DCD6F7;
    background-color: #222643;
    transition: 0.5s;
}

#ttl {
    margin: 5%;
    text-align: center;
    font-size: 26px;
}

.content {
    margin: 5% 10%;
    text-align: center;
}

.content div {
    margin: 3% 0%;
}

.content h1 {
    color: #222643;
}